IP Badge/Dev/.micropico
IP Badge/Dev/PicoTesting.code-workspace
IP Badge/Dev/.vscode
IP Badge/Dev/.vscode/settings.json
IP Badge/Dev/.vscode/extensions.json
IP Badge/Dev/Dev.code-workspace
.vscode/settings.json
